* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(152, 195, 201);
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.presentation {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  animation: 1s steps(16, end) present-animation;
  overflow: hidden;
}

.presentation::after {
  content: "";
  background: black;
  height: 100%;
  width: 10px;
}

.contain {
  position: relative;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.phrase {
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
  font-size: x-large;
}

.dialog-contain {
  position: relative;
  max-width: 800px;
}

.dialog {
  width: 100%;
  background: rgb(255, 253, 117);
  color: black;
  padding: 40px;
  border-radius: 100px;
  position: relative;
  max-width: 700px;
  font-family: sans-serif;
  z-index: 1;
  cursor: pointer;
  border: solid 2px black;
  box-shadow: 3px 3px 10px rgba(56, 56, 56, 0.64);
  &:hover,
  dialogue-queue {
    box-shadow: 5px 5px 10px rgba(35, 35, 35, 0.745);
  }
}

.dialogue-queue {
  cursor: pointer;
  position: absolute;
  bottom: -96px;
  right: 16%;
  z-index: 2;
}

.visible {
  display: none;
}

.image-contain {
  width: 800px;
  margin: auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.chuck-norris {
  cursor: pointer;
}

.shadow {
  width: 250px;
  height: 30px;
  border-radius: 15px;
  background: rgb(33, 18, 10);
  filter: blur(25px);
  z-index: -1;
  position: absolute;
  bottom: -10px;
  padding-left: 58px;
  padding-right: 58px;
}

@media screen and (max-width: 280px) {
  .phrase {
    font-size: 12px;
  }
  .dialog-contain {
    max-width: 300px;
  }
  .dialogue-queue {
    position: absolute;
    bottom: -26%;
    left: 60%;
    height: 60px;
    width: 120px;
  }
  .chuck-norris {
    height: 280px;
  }

  .image-contain {
    width: 180px;
    display: flex;
    align-items: start;
  }
  .presentation {
    font-size: 20px;
  }
}

@media screen and (min-width: 281px) {
  .dialogue-queue {
    right: 4%;
  }
  .phrase {
    font-size: 16px;
  }
  .dialog-contain {
    max-width: 500px;
  }
  .image-contain {
    width: 300px;
  }
  .image-contain {
    display: flex;
    align-items: start;
  }
  .chuck-norris {
    height: 320px;
  }
  .presentation {
    font-size: 28px;
  }
}

@media screen and (min-width: 768px) {
  .dialog {
    background: #fffd75;
    padding: 30px;
    border-radius: 100px 100px 100px 100px;
    font-family: sans-serif;
  }
  .phrase {
    font-size: 22px;
  }
  .chuck-norris {
    height: 420px;
  }
  .presentation {
    font-size: 34px;
  }
}

@keyframes present-animation {
  from {
    color: rgb(152, 195, 201);
    width: 0%;
  }
  to {
    color: rgb(72, 80, 80);
    width: 100%;
  }
}
