* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(152, 195, 201);
  margin: 0;
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  animation: 5s steps(16, end) present-animation;
}

.contain {
  position: relative;
  height: max-content;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.phrase {
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
  font-size: x-large;
}

.dialog {
  background: rgb(255, 253, 117);
  color: rgb(16, 60, 23);
  padding: 34px;
  border-radius: 100px 100px 100px 4px;
  position: relative;
  max-width: 600px;
  font-family: sans-serif;
  z-index: 1;
  cursor: pointer;
  border: solid 2px black;
}

.image-contain {
  width: 800px;
  display: flex;
  align-items: center;
}

.chuck-norris {
  cursor: pointer;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .dialog {
    background: rgb(255, 253, 117);
    color: rgb(16, 60, 23);
    padding: 30px;
    border-radius: 100px 100px 100px 100px;
    font-family: sans-serif;
  }

  .image-contain {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes present-animation {
  0% {
    color: rgb(152, 195, 201);
    width: 0px;
  }
  100% {
    color: rgb(72, 80, 80);
    width: 400px;
  }
}
