* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(152, 195, 201);
  margin: 0;
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  animation: 5s steps(16, end) present-animation;
  overflow: hidden;
}

.title::after {
  content: "";
  background: black;
  height: 100%;
  width: 10px;
}

.contain {
  position: relative;
  height: max-content;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.phrase {
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
  font-size: x-large;
}

.dialog {
  background: rgb(255, 253, 117);
  color: rgb(16, 60, 23);
  padding: 34px;
  border-radius: 100px;
  position: relative;
  max-width: 600px;
  font-family: sans-serif;
  z-index: 1;
  cursor: pointer;
  border: solid 2px black;
  &:hover {
    box-shadow: 5px 5px 30px rgb(33, 18, 10);
  }
}

.dialog ::before {
  content: "";
  background: rgb(255, 253, 117);
  height: 50px;
  width: 25px;
  border: solid 2px black;
  border-radius: 77% 23% 50% / 70% 67%;
  border-top: 0px;
  position: absolute;
  right: 200px;
  bottom: -50px;
  transform: rotate(11deg);
}

.image-contain {
  width: 800px;
  margin: auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.chuck-norris {
  cursor: pointer;
}

.shadow {
  width: 250px;
  height: 30px;
  border-radius: 15px;
  background: rgb(33, 18, 10);
  filter: blur(25px);
  z-index: -1;
  position: absolute;
  bottom: -10px;
  padding-left: 58px;
  padding-right: 58px;
}

@media screen and (max-width: 768px) {
  .dialog {
    background: rgb(255, 253, 117);
    color: rgb(16, 60, 23);
    padding: 30px;
    border-radius: 100px 100px 100px 100px;
    font-family: sans-serif;
  }

  .image-contain {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes present-animation {
  from {
    color: rgb(152, 195, 201);
    width: 0%;
  }
  to {
    color: rgb(72, 80, 80);
    width: 100%;
  }
}
